* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/background.png');
  color: white;
}

header {
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
}

h2 {
  background-color: black;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  width: 80vw;
}

.planet-card {
  font-size: 20px;
  text-align: center;
}

.solar-system {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.planet-card img {
  width: 120px;
}

.mission-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 80vw;
}

.mission-card {
  background-color: black;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 10px;
  width: 17vw;
}

.mission-name {
  border-bottom: 1px solid grey;
  font-size: 20px;
  padding: 7px 5px;
  text-align: center;
}

.description-container {
  padding: 10px;
}

.description-container p {
  margin: 15px 0;
}

@media screen and ( max-width : 475px ) {

  .mission-container {
    align-items: center;
    flex-direction: column;
  }

  .mission-card {
    width: 70vw;
  }

}

@media screen and ( max-width : 720px )  and ( min-width : 476px ) {

  .mission-card {
    width: 30vw;
  }
}

@media screen and ( max-width : 1200px ) and ( min-width : 721px ) {

  .solar-system {
    margin: 0 auto;
    width: 80vw;
  }
}
